body {
    text-align: center;
    background: url('/img/background-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Helvetica;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 3em;
}

input {
    border: 0;
    padding: 12px;
    font-size: 2em;
}

input[type="submit"] {
    background: pink;
    color: black;
}

.profile-circular {
    background: url('/img/profile-picture.jpeg');
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 50% 50% 50% 50%; 
}
